<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.url</string>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryPhotos</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>chosenColor</key>
		<string></string>
		<key>chosenErrorCorrection</key>
		<string>L</string>
		<key>chosenFiletype</key>
		<string>PNG</string>
		<key>chosenSize</key>
		<integer>300</integer>
		<key>targetFolderPath</key>
		<string>~/Desktop/</string>
		<key>transparentBackground</key>
		<false/>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string></string>
		<key>AMDNote</key>
		<string></string>
		<key>AMDOptions</key>
		<string></string>
		<key>AMDRelatedActions</key>
		<string></string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string></string>
		<key>AMDSummary</key>
		<string>This action creates QR code based on text input or file text input</string>
		<key>AMDWebsite</key>
		<string>(* AMDWebsite URL to additional information or documentation for the action goes here. (optional) *)</string>
	</dict>
	<key>AMIconName</key>
	<string>AppIcon</string>
	<key>AMKeywords</key>
	<array>
		<string>QR</string>
		<string>Code</string>
		<string>Image</string>
		<string>Create</string>
		<string>Text</string>
		<string>Barcode</string>
		<string>Generator</string>
	</array>
	<key>AMName</key>
	<string>CreateQRCode</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>public.image</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>Level</key>
		<integer>0</integer>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Marek Hrušovský. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>CreateQRCode</string>
</dict>
</plist>
